.c-sider {
    &__logo {
        width: 140px;
        margin: 0 24px;
        height: 80px;
        background-image: url(./images/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &--small{
            background-image: url(./images/logo-small.png);
            width: 34px;
            margin-left: 25px;
        }
    }
}